<div id="languageName">
<h1><%= @language.name %></h1>
</div>
<% @language.codes.each do |code| %>
  <div class="well">
    <p><%= code.title %></p>
    <!-- <p><%#= markdown(code.code)  %></p> -->
    <div class = "readonly-editor", >
      <textarea rows="4" cols="50"><%= code.code %></textarea>
    </div>
  </div>
<% end %>

<%= javascript_include_tag('ace_reader.js') %>
